*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: black;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#table {
  display: block;
  height: 100%;
  width: 100%;
}